In [1]:
import pandas as pd
import numpy as np
tmp = pd.read_csv("/opt/ml/input/data/train/train_ratings.csv")
tmp = tmp.drop("time", axis=1)
tmp

           user   item        time
0            11   4643  1230782529
1            11    170  1230782534
2            11    531  1230782539
3            11    616  1230782542
4            11   2140  1230782563
...         ...    ...         ...
5154466  138493  44022  1260209449
5154467  138493   4958  1260209482
5154468  138493  68319  1260209720
5154469  138493  40819  1260209726
5154470  138493  27311  1260209807

[5154471 rows x 3 columns]

In [9]:
train_prop = 0.8
grouped_tmp = tmp.groupby("user")
with open('./train.txt','a') as tr, open('./test.txt', 'a') as te:
    for u, group in grouped_tmp:
        n_items_u = len(group)
        idx = np.zeros(n_items_u, dtype='bool')
        idx[np.random.choice(n_items_u, size=int(train_prop * n_items_u), replace=False).astype('int64')] = True
        for train_item in group[idx]["item"]:
            tr.write(str(u)+" "+str(train_item)+"\n")
        for test_item in group[np.logical_not(idx)]["item"]:
            te.write(str(u)+" "+str(test_item)+"\n")